*{
  margin: 0;
  background-color: #231955;
}

 .photo {
  height: 80px;
  width: 80px; 
}

.input{
  height: 790px;
  width: 420px;
  background: hsl(44, 100%, 78%);
} 

.work{
  height: 605px;
  width: 300px;
}
.work2{
  height: 605px;
  width: 300px;
}